﻿﻿@model IEnumerable<WebBanGiay.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebBanGiay.Models.vietnamese_administrative_unitsEntities vn = new WebBanGiay.Models.vietnamese_administrative_unitsEntities();
    var Provinces = vn.provinces.ToList();
    int TongTien = 0;
    var Customer = (WebBanGiay.Models.User)HttpContext.Current.Session["Customer"];
    int? ID = Customer.User_Id;
}
@section Style{
    <style>
        .country_select {
            -webkit-tap-highlight-color: transparent;
            background-color: #fff;
            border-radius: 5px;
            border: solid 1px #e8e8e8;
            box-sizing: border-box;
            clear: both;
            cursor: pointer;
            display: block;
            float: left;
            font-family: inherit;
            font-size: 14px;
            font-weight: normal;
            height: 42px;
            line-height: 40px;
            outline: none;
            padding-left: 18px;
            padding-right: 30px;
            position: relative;
            text-align: left !important;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
            width: auto;
            color: #777777;
        }
    </style>
}

<section class="checkout_area section_gap">
    <div class="container">
        <div class="returning_customer">
            <div class="check_title">
                <h2>Returning Customer? <a href="javascript:void(0);">Click here to login</a></h2>
            </div>
            <p>
                If you have shopped with us before, please enter your details in the boxes below. If you are a new
                customer, please proceed to the Billing & Shipping section.
            </p>
        </div>
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon? <a href="javascript:void(0);">Click here to enter your code</a></h2>
            </div>
            <input type="text" placeholder="Enter coupon code">
            <a class="tp_btn" href="javascript:void(0);">Apply Coupon</a>
        </div>
        <div class="billing_details">
            <form class="row contact_form" action="CheckOut/Payment" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Thông tin thanh toán</h3>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="first" name="Ship_Name" placeholder="Họ và tên">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="Ship_PhoneNumber" placeholder="Số điện thoại">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="email" class="form-control" id="email" name="Ship_Email" placeholder="Email">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <select id="province" class="country_select">
                                <option value="">Chọn tỉnh</option>
                                @foreach (var i in Provinces)
                                {
                                    <option value="@i.code">@i.full_name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <select id="district" class="country_select">
                                <option value="">Chọn quận</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <select id="ward" class="country_select">
                                <option value="">Chọn phường</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add1" name="Ship_Address" placeholder="Địa chỉ nhận hàng">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Ghi chú</h3>
                            </div>
                            <textarea class="form-control" name="Ship_Note" id="message" rows="1" placeholder="Ghi chú đơn hàng"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Đơn hàng của bạn</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @{
                                                var product = new WebBanGiay.Models.WebBanGiayEntities().Products.SingleOrDefault(m => m.Product_Id == item.Product_Id);
                                                int total = Convert.ToInt32(item.Quantity) * Convert.ToInt32(product.Product_Price);
                                                TongTien += total;
                                                string formattedPrice1 = total.ToString("N0", new System.Globalization.CultureInfo("vi-VN"));
                                            }
                                            <td style="width: 50%">@product.Product_Name</td>
                                            <td style="width: 25%; text-align: center;">@item.Quantity</td>
                                            <td style="width: 25%">@formattedPrice1₫</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <ul class="list list_2">
                                @{string formattedPrice2 = TongTien.ToString("N0", new System.Globalization.CultureInfo("vi-VN")); }
                                <li><a href="javascript:void(0);">Tổng thanh toán<span>@formattedPrice2₫</span></a></li>
                            </ul>
                            <input type="hidden" name="Total_Amount" value="@TongTien" />
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Thanh toán khi nhận hàng</label>
                                    <div class="check"></div>
                                </div>
                                <p>Bạn sẽ thanh toán khi đơn hàng được gửi tới bạn</p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">Chuyển khoản </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Chuyển khoản bằng tài khoản ngân hàng</p>
                            </div>
                            <button type="submit" class="primary-btn" href="javascript:void(0);">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Script{
    <script>
        $(document).ready(function () {
            $('#province').change(function () {
                var provinceCode = $("#province").val();
                console.log("Province selected: " + provinceCode);
                $.ajax({
                    url: "/CheckOut/GetDistricts",
                    type: "GET",
                    data: { province_code: provinceCode },
                    success: function (data) {
                        console.log("Data received for districts:", data);
                        $("#district").empty();
                        $("#district").append("<option value=''>Chọn quận</option>");
                        $("#ward").empty();
                        $("#ward").append("<option value=''>Chọn Phường</option>");
                        $.each(data, function (index, row) {
                            $("#district").append("<option value='" + row.code + "'>" + row.full_name + "</option>");
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error occurred while fetching districts:", error);
                    }
                });
            });
            $('#district').change(function () {
                var districtCode = $("#district").val();
                console.log("District selected: " + districtCode);
                $.ajax({
                    url: "/CheckOut/GetWards",
                    type: "GET",
                    data: { district_code: districtCode },
                    success: function (data) {
                        console.log("Data received for wards:", data);
                        $("#ward").empty();
                        $("#ward").append("<option value=''>Chọn Phường</option>")
                    }



    </script>



}