﻿@model IEnumerable<WebBanGiay.Models.Cart>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Tong = 0;
}

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Size</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                var product = new WebBanGiay.Models.WebBanGiayEntities().Products.SingleOrDefault(m => m.Product_Id == item.Product_Id);


                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img style="height:100px; width:150px" src="~/Areas/Admin/Data/@product.Product_Image" />
                                            </div>
                                            <div class="media-body">
                                                <p>@product.Product_Name</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="media">

                                            <div class="media-body">
                                                <p>@item.Size</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <h5>
                                            @{
                                                int price = Convert.ToInt32(product.Product_Price);
                                                string formattedPrice = price.ToString("N0", new System.Globalization.CultureInfo("vi-VN"));
                                                <span>@formattedPrice₫</span>

                                            }
                                        </h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="text" name="qty" id="sst-@item.Product_Id" maxlength="12" value="@item.Quantity" title="Quantity:"
                                                   class="input-text qty">
                                            <button onclick="increaseQuantity('@item.Product_Id')" class="increase items-count" type="button">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </button>
                                            <button onclick="decreaseQuantity('@item.Product_Id')" class="reduced items-count" type="button">
                                                <i class="lnr lnr-chevron-down"></i>
                                            </button>
                                        </div>

                                    </td>
                                    <td>
                                        <h5>
                                            @{
                                                int price1 = Convert.ToInt32(product.Product_Price * item.Quantity);
                                                string formattedPrice1 = price1.ToString("N0", new System.Globalization.CultureInfo("vi-VN"));
                                                <span>@formattedPrice1₫</span>
                                                ViewBag.Tong = ViewBag.Tong + price1;
                                            }
                                        </h5>

                                    </td>
                                </tr>

                            }
                        }
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>
                                    @{
                                        int price2 = Convert.ToInt32(ViewBag.Tong);
                                        string formattedPrice2 = price2.ToString("N0", new System.Globalization.CultureInfo("vi-VN"));
                                        <span>@formattedPrice2₫</span>
                                    }

                                </h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <div>
                                        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn tỉnh thành</option>
                                        </select>

                                        <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn quận huyện</option>
                                        </select>

                                        <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                            <option value="" selected>Chọn phường xã</option>
                                        </select>
                                    </div>

                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="#">Continue Shopping</a>
                                    <a class="primary-btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script>
        function increaseQuantity(productId) {
            var result = document.getElementById('sst-' + productId);
            var sst = result.value;
            if (!isNaN(sst)) result.value++;
            return false;
        }

        function decreaseQuantity(productId) {
            var result = document.getElementById('sst-' + productId);
            var sst = result.value;
            if (!isNaN(sst) && sst > 0) result.value--;
            return false;
        }
    </script>

</section>
<!--================End Cart Area =================-->
